.date{
	margin: 20px;
	margin-bottom: -20px;
	justify-content: center;
	
	h3{
		padding: 10px;
		text-align: center;
		color: $primary-color;
	}
}

.organisers{

	.list1{

		justify-content: center;

		h3{
			font-size: 20px;
			margin-bottom: 10px;
		}
		li{
			font-size: 20px;
		}

		
	}
}

.Speakers{
	margin-top: 50px;
	ul{
		columns: 2;
	}
	li{
		font-size: 25px;
		line-height: 35px;
	}

	.table1-contents{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 30px;
		display: flex;
		justify-content: center;
		table{
		
			margin-top: -40px;
			margin-bottom: -60px;
		}
		a{
			color: black;
			&:hover{
				color: $primary-color;
			}
		}
		tr{
			border-bottom: 1px solid #000;
			
		}
		tr:nth-child(even) {background-color: #f2f2f2;}
		th,td{
			padding: 5px 30px 5px 30px;
			
		}
		th{
			background-color: $primary-color;
			color: white;
		}
		

	}

}