<!--===========================
=            About            =
============================-->

	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 align-self-center">
				<div class="content-block">
					<div class="heading">

					<h2>A two-week Workshop and Conference on <br>
						REPRESENTATION THEORY & HARMONIC ANALYSIS</h2>
					</div>
					<div class="row">
					<div class="col-6">

						<div class="TAB description-one text-center">
							<p>
								Workshop on "Representation theory of Real Lie groups and Automorphic forms", 2nd October till 7th October, 2023.
	</p>
						</div>
						
					</div>
					<div class="col-6">
						<div class="TAB description-one text-center">
							<p>
	 Conference on Harish-Chandra, 9th October till 14th October, 2023.</p>
						</div>

					</div>
				</div>
					
					<ul class="list-inline text-center">

						<li class="list-inline-item">
							<a href="about-us.html" class="btn btn-transparent-md">Read more</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 align-self-center">
				<div class="image-block col-12 bg-about text-center">
					<img class="img-fluid" src="images/speakers/Harish_Chandra2.jpg" alt="">
					<h2>Harish Chandra <br> @100</h2>
				</div>
			</div>

		</div>
	</div>

<!--====  End of About  ====-->