<!--==============================
=            Schedule            =
===============================-->


<div class="container">
	<div class="row">
		<div class="col-12 align-self-center">
			<div class="content-block">
				
				<div class ="col-12 text-center">
					<h1>Centernary Celebration Programs</h1>
				</div>
				<div class="row">
					@@include('blocks/event-item.htm',{
						"name"		: "Workshop on <q>Representation theory of Real Lie groups and Automorphic forms</q> ",
						"date"		: "2<sup>nd</sup> - 7<sup>th</sup> October, 2023.",
						"link"		: "event1.html"
					})
					@@include('blocks/event-item.htm',{
						"name"		: "Conference on Harish-Chandra",
						"date"		: "9<sup>th</sup> - 14<sup>th</sup> October, 2023.",
						"link"		: "event2.html"
					})
			
					
			

				</a>

				</div>
			</div>
				
			</div>
		</div>

	</div>
</div>

<!--====  End of Schedule  ====-->