<!--========================================
=            Navigation Section            =
=========================================-->
<nav class="navbar main-nav border-less  navbar-expand-lg p-0">
  <div class="container-fluid p-0">
    <!-- logo -->
    <a class="navbar-brand" href="index.html">
      <img src="images/icon/logo_2.png" height="110px" alt="logo">
      <img src="images/icon/logo_name.png" height="110px" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="index.html">Home  <i class="fa fa-angle-down"></i>
            <span>|</span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="index.html#harish-chandra">Harish Chandra</a></li>
            
           
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="Program.html">Programs   <i class="fa fa-angle-down"></i>
            <span>|</span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="event1.html">Workshop1</a></li>
            <li><a class="dropdown-item" href="event2.html">Conference1</a></li>
           
          </ul>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link" href="Welcome.html">Welcome to Prayagraj <i class="fa fa-angle-down"></i>
            <span>|</span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Welcome.html#venue">HRI</a></li>
            <li><a class="dropdown-item" href="Welcome.html#address">Address</a></li>
            <li><a class="dropdown-item" href="Welcome.html#travel">Travel Info</a></li>
            <li><a class="dropdown-item" href="Welcome.html#Places">Campus and Beyond</a></li>
           

          </ul>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="Contactus.html">Contact us <i class="fa fa-angle-down"></i>
            <span>|</span>
          </a>

        </li>

      </ul>
    </div>
  </div>
</nav>

<!--====  End of Navigation Section  ====-->
